    <% if @account.events.any? %>
      <ol class="events">
        <% @account.events.each do  |event| %>
        	<div id="volunteer_posting-<%=event.id%>">
            <li><strong><%= event.name %></strong> worked on <%= event.event_date.to_s(:long) %> by <i><%= event.worker.name %></i> for a total of <%= event.hours_worked %> hours. 


            	<%= link_to '', event, method: :delete, confirm: "Are you sure you want to delete this volunteer posting?", title: event.name, class: "icon-remove", remote: true%> </li>
            </div>
        <% end %>
      </ol>
    <% else %>
      <p> No volunteer events found for this account. Go get to work! </p>
    <% end %>