<% @activities.each do |activity| %>
  <tr>
    <td><%= link_to activity.activity, activity_path(activity)%></td>
    <td><%= activity.description %></td>
    <td><%= activity.priority %></td>
    <td><%= activity.chair %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Delete', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>