<div class="row">
  
  <div class="span8 offset2">
    <%= form_for (setup_account(@account)), :html => {:class => "horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Account Name: " %>
      <%= f.text_field :name %> 
      <p class="help-block">Your account name is used to uniquely identify you and the hours your workers have posted to the account. Some good examples of what this value should be include: SmithFamily, JonesFamily-2012, JackJudyHarrison, The Incredible Ingles, etc. </p>

      <%= f.label "Primary email address associated with account:" %>
      <%= f.text_field :email %>

      <% if (current_account == @account) || current_account.nil? %>

        <%= f.label :password, "Please select a password that is at least six (6) characters long:"  %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Type in your password again to confirm:" %>
        <%= f.password_field :password_confirmation %>

      <% end %>
      <hr>

      <h2> Volunteer Information </h2>

      
      <p> Volunteer workers are the life blood of the school life. Name up to three people who will work as volunteers for this account: </p>

      <p class="help-block">These are the names of the workers that will appear on your profile. You should enter values like John Smith, Jame Smith, Sue Sammy-Hoffman, etc.  </p>

      <%= render :partial => "worker_tabs", :locals => {:f => f}  %>

      
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
  
</div>