<% provide(:title, @account.name) %>

<div class="row">
  <div class="span6">
    <aside>
      <div class="well">
      <h3>
        Account: <%= @account.name %>
      </h3>
      <section>
        <span>
          School Year: <%= @account.year %>
        </span>
        <span>
          Admin account? <%= @account.admin %>
        </span>
      </section>  
      <h4>
        Registered Volunteers:
      </h4>

      <ol>
        <% @account.workers.each do  |worker| %>
            <li><%= worker.name %></li>
        <% end %>
      </ol>

      <h4>Total hours worked: 
        <%= @account.events.any?? @account.events.sum("hours_worked") : 0 %> </h4>
      </div>
    </aside>

      

      <span>
        <h3>Volunteer Hours Quick Reporting Form:</h3>
        <section>
        <% @event = VolunteerEvent.new %>

        <%= form_for(@event) do |f| %>
     
          <%= hidden_field_tag(:account, @account.id) %>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Enter in the event you worked." %>

          <%= f.label :event_date %>
          <%= f.datepicker :event_date %>

          <%= f.label :hours_worked %>
          <%= f.text_field :hours_worked, placeholder: "5" %>

      <%= label_tag(:name, "Select the person who performed the work") %>
      <%= select_tag(:worker, options_from_collection_for_select(@account.workers, :id, :name)) %>

      
      
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>

    <% end %>
  </section>
      </span>
  </div>

    <div class="span6">

    <h3>Recent events reported of <%= @account.events.count %> total</h3>

    <% if @account.events.any? %>
      <ol class="events">
        <% @account.events.each do  |event| %>
            <li><strong><%= event.name %></strong> worked on <%= event.event_date.to_s(:long) %> by <i><%= event.worker.name %></i> for a total of <%= event.hours_worked %> hours.</li>
        <% end %>
      </ol>
    <% else %>
      <p> No volunteer events found for this account. Go get to work! </p>
    <% end %>
    
    </div>

</div>
